body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}
.fundo {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    filter: brightness(0.7);
}
.fundo img {
    width: 100vw;
    height: 100vh;
}
.parallax {
    position: absolute;
    width: 100vw;
    height: 150%;
    z-index: -2;
    transition: transform 1s ease-out;
    background-image: url(designs\ e\ ideias/fundo\ de\ estrela\ V2.png);
    background-size: 100vw 200vh;
    background-repeat: repeat-y;
    background-position: center;
    z-index: -2;
    filter: brightness(2);
}
.parallax-planeta {
    position: fixed;
    top: -10%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: transform 0.5s ease-out;
}
.parallax-planeta img {
    width: 100vw;
}
nav {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding-right: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, 0.8);
    filter: blur(1.3);
    font-family: arial;
    font-weight: bold;
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
    margin-inline: 10px;
}
nav h2 {
    cursor: pointer;
}
main {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: arial;
    color: white;
    padding-inline: 80px;
}
header {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline: 20%;
    margin-bottom: 200px;
}

section {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.carroulsel img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: 3px solid rgba(100, 100, 250, 0.7);
    padding: 8px;
    border-radius: 25px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transform: rotateY(50deg) rotateX(-5deg);
}

.carroulsel2 img {
    position: relative;
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: 3px solid rgba(100, 100, 250, 0.7);
    padding: 8px;
    border-radius: 25px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    transform: rotateY(50deg) rotateX(5deg);
}
.carroulsel2 img::after {
    content: "";
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    border: 3px solid rgba(100, 100, 250, 0.7);
    border-radius: 25px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    transform: rotateY(50deg) rotateX(5deg) rotateZ(30px);
    z-index: 2;
}

.carroulsel {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.carroulsel2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.textos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}
.textos h2 {
    position: relative;
    padding: 40px;
    font-size: 20px;
}
.textos h2::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    border: solid #b220d3 2px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: rotateZ(1deg);
    animation: border1 2s infinite ease-in-out;
}
.textos h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    border: solid #b220d3 2px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: rotateZ(-5deg);
    animation: border2 3s infinite ease-in-out;
}

@keyframes border1{
    0% {
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        transform: rotateZ(1deg);
    }
    50% {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        transform: rotateZ(10deg);
    }
    100% {
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: rotateZ(1deg);
    }
}
@keyframes border2{
    0% {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        transform: rotateZ(3deg);
    }
    50% {
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        transform: rotateZ(-10deg);
    }
    75% {
        transform: rotateZ(15deg);
    }
    100% {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        transform: rotateZ(3deg);
    }
}

article {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 150px;
}

.faixa-branca {
    position: absolute;
    top: -20px;
    width: 150%;
    height: 300px;
    transform: rotateZ(10deg);
    background-color: white;
    z-index: -1;
}

@keyframes surgirFaixa {
    0% {
        top: -100px;
        transform: translateX(-150%) rotateZ(10deg);
    }
    100% {
        top: -40px;
        transform: translateX(0%) rotateZ(10deg);
    }
}

@keyframes tirarFaixa {
    0% {
        top: -40px;
        transform: translateX(0%) rotateZ(10deg);
    }
    100% {
        top: -100px;
        transform: translateX(-150%) rotateZ(10deg);
    }
}

.aprofundamento {
    width: 60%;
    box-sizing: border-box;
    padding: 50px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: black;
}

.continuar {
    position: relative;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
    margin-block: 200px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: white;
}

.continuar input {
    bottom: 0;
    left: 46%;
    cursor: pointer;
    padding: 15px;
    background-color: black;
    outline: none;
    box-shadow: none;
    border: rgba(250, 250, 250, 0.5) solid 2px;
    border-radius: 7px;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease;
}
.centrar-input {
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 100px);
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.continuar input:hover {
    border-color: yellow;
    color: yellow;
    text-shadow: 1px 1px 25px yellow,
    1px 1px 25px yellow,
    1px 1px 45px white;
    
    box-shadow: 1px 1px 30px 1px yellow,
    1px 1px 250px 1px yellow,
    1px 1px 550px 1px yellow,
    1px 1px 750px 1px yellow,
    1px 1px 1050px 1px yellow;
}