body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000100;
    overflow-x: hidden;
}

nav {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    padding-right: 20%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(50, 50, 50, 0.5);
    filter: blur(1.3);
    font-family: arial;
    font-weight: bold;
    color: white;
}
nav h2 {
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: white;
    margin-inline: 10px;
}

main {
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding: 250px;
}

.titulo h1 {
    color: white;
    font-family: arial;
    font-size: 40px;
    margin: 0;
}
.titulo {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    
}
.filtrar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.funcional  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conjuntoTodo {
    background-color: rgb(25, 25, 25);
    padding: 30px;
    border-radius: 30px;
}